@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* -------------------------------------------------- Colours */

.bg-color-name-title {
    background-color: #BC8F8F;
}

.ui-menu-color-home {
    background-color: #000000;
}

.ui-menu-color-resume {
    background-color: #000000;
}

.ui-menu-color-contact {
    background-color: #000000;
}

.ui-menu-color-download {
    background-color: #000000;
}

/* -------------------------------------------------- Heading */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/rosie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100px;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "roboto", sans-serif;
    font-weight: 200px;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}